{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
        {{ content }}
            {% for page in pages(current_page.id, depth=1) %}
                <a href="{{ page.url }}" class="{{ page.meta["HTMLClass"] }}">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.description }}</p>
                    <button aria-label="{{ page.title }}"><i class="fas fa-chevron-right"></i></button>
                </a>
            {% endfor %}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
